doctype html
html(lang='en')
  head
    title Poker-Fun
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css').
      .profile-pic {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
      .user-name {
        margin-left: 10px;
        display: inline
      }
  body
    .container
      .row
        .col.mx-auto
          .card.my-5
            .card-body
              h5.card-title.text-center.sortable Balance Sheets
              table.table.striped
                tr
                  th Name
                  th Balance
                each user in data.users
                    tr
                      if user.winner == true
                        td.table-success
                          img(src=user.photo).profile-pic
                          p.user-name #{user.full_name}
                        td.table-success= "$ " +Math.round(user.balance)
                      else if user.loser >= true
                        td.table-danger
                          img(src=user.photo).profile-pic
                          p.user-name #{user.full_name}
                        td.table-danger= "$ " +Math.round(user.balance)
                      else
                        td
                          img(src=user.photo).profile-pic
                          p.user-name #{user.full_name}
                        td= "$ " +Math.round(user.balance)